button {
   background-color: #000000;
   color: white;
   padding: 3px 3px;
   border-color: magenta;
   border-radius: 5px
   cursor: ponter;
   transition: background-color 1s;
}

button:disabled {
   background-color: #888;
   cursor: not allowed;
}

button:hover:not(:disabled) {
   background-color: #23a23
}

#mensagem {
   font-weight: bold;
   margin-tio: 1px
}

.sucesso {
   color: green;
}

.erro {
   color: green;
}

ul {
   list-style: none;
   padding: 0;
}

ul li {
   background-color: #f2f2f2;
   margin: 5px 0;
   padding: 1px;
   border-radius 1px;
}