body {
   font-family: Arial, sans-serif;
   background: #121212;
   margin: 0;
   padding: 40px;
   display: flex;
   justify-content: center;
}

   .cointainer {
      background: black;
      padding: 100px;
      border-radius: 90px;
      width: 400px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.9);
}

h1 {
    color:white;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 60px;
    border-color: magenta;
    margin-bottom: 5px;
    outline: none;
}

#adicionar,
#limpar {
    width: 30%;
    background-color: black;
    color: white;
    padding: 7px;
    border-color: magenta;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.7s;
}

.btn-remover {
    width: 30px;
    height: 30px;
    background-color: crimson;
    color:white
    border: 1px solid magenta;
    border-radius: 50%;
    display: flex:
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    padding: 0;
}

.btn-remover:hover {
    background-color: darkred;
}
button:disabled {
    background-color: #888;
    cursor: not allowed;
}



#mensagem {
    font-weight: bold;
    margin-top: 1px
}

.sucesso {
   color: green;
}

.erro {
   color: green;
}

ul {
    list-style: none;
    padding: 0;
    background-color: black;
}



li {
    background: black;
    color: white;
    padding: 0px;
    border-radius: 90px;
    margin-bottom: 2px;
    display: flex;
    justify-content: left 80%;
    align-items: center;
    transition: 0.2s;
    justify-content: space-between;
}

li:hover {
    background: #222;
}

#telaPrincipal {
    background: #1e1e1;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 10px 30px;
rgba(0,0,0,0.5);
}